:root{
    --cor1:#c9a227;
    --cor2:black;
    --cor3:rgba(255, 255, 255, 0.521);
}

*{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    font-family: sans-serif;
    letter-spacing: 1px;
}
/*cabeçalho*/
.cabecalho{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/*-------------------------------------------------*/
.div1-cabecalho{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    height: 200px;
    width: 200px;
}
.linha{
    margin-top: 24px;
    height: 1px;
    width: 70vw;
    background-color: var(--cor1);
}
/*-------------------------------------------------*/
.div2-cabecalho{
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.link{
    padding: 10px;
    text-decoration: none;
    color: var(--cor2);
}

.link:hover{
    background-color: var(--cor1);
    border-radius: 10px;
    box-shadow:0px 0px 10px var(--cor2);
}

.img-cabecalho{
    height: 30px;
    width: 30px;
}
/*main*/
.main{
    text-align: center;
}
/*-------------------------------------------------*/
.div1-main{
    margin-top: 24px;
    height: 400px;
    background-image: url(assets/back2.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo{
    color: var(--cor1);
}
/*-------------------------------------------------*/

.div2-main{
    padding: 10px;
    background-color: var(--cor1);
}

.conteudo-div2{
    margin-bottom: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.section-1{
    margin-top: 10px;
    padding: 30px;
    width: 70%;
    height: 200px;
    background-image: url(https://images.pexels.com/photos/48148/document-agreement-documents-sign-48148.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section-2{
    margin-top: 10px;
    padding: 30px;
    width: 70%;
    height: 200px;
    background-image: url(https://images.pexels.com/photos/3771097/pexels-photo-3771097.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.section-3{
    margin-top: 10px;
    padding: 30px;
    width: 70%;
    height: 200px;
    background-image: url(https://images.pexels.com/photos/5668837/pexels-photo-5668837.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-section1{
    padding: 5px;
    background-color: var(--cor3);
    border-radius: 10px
}
.container-section2{
    padding: 5px;
    background-color: var(--cor3);
    border-radius: 10px
}
.container-section3{
    padding: 5px;
    background-color: var(--cor3);
    border-radius: 10px
}

/*-------------------------------------------------*/
.div3-main{
    height: 300px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.letra{
    color: var(--cor1); 
}

.div3-main p{
    margin-top: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.btn{
    margin-top: 24px;
    height: 30px;
    background-color: var(--cor1);
    border-radius: 10px;
    border: none;
}
.btn:hover{
    background-color: var(--cor3);
    box-shadow: 0px 0px 10px #c9a227;
}

.btn>a{
    text-decoration: none;
    color: var(--cor2);
    font:bolder;
    font-size: 20px;
    
}

/*Rodapé*/
.rodape{
    background-image: linear-gradient(to top, #c9a227,white);
    text-align: center;
}
.h3{
    margin-top: 10px;
} 

.img-footer{
    margin-top: 10px;
    height: 30px;
    width: 30px;
}

.rodape-conteudo{
    margin-top: 10px;
}

.link-endereco{
    text-decoration: none;
    color: var(--cor2);
}
